
video {
    transform: rotateY(180deg); 
}

.select {
    height: 30px;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 10% !important;
}

#peerDiv{
    height: 100vh;
    width: 100%;

}

#peerVideo:hover {
    opacity: 0.6;
    cursor: pointer;
}

#peerVideo{
    height: 100%;
    width:100vw; 
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

